[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docopt = "*"
engi-cli = {editable = true, path = "."}
setuptools = "*"
same-story-api-engi = {ref = "6db4633e82685b03591778938054d8a8aab5e808", git = "https://github.com/engi-network/same-story-api.git"}
coloredlogs = "*"
xmltodict = "*"

[dev-packages]
jupyterlab = "*"
pytest = "*"
pytest-bdd = "*"
pytest-asyncio = "*"
pytest-dependency = "*"

[requires]
python_version = "3.9"
